* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}


/******************************************* NAV SECTION ***********************************************/
.nav {
    background: #131313;   /* Hex code */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 1.4rem;        /* 1.4 * 16px */
    position: sticky;
    top: 0;
    z-index: 999;             /* so navbar is always on top when scrolling */
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto ;           /* (top and bottom) (left and right) */   
    padding: 0 50px;
}

  
/* id(#) is used to style only one element on the webpage */   
/* class(.) is used to style multiple elements */  


/* I added an icon as opposed to text */

#navbar_logo {
    margin: 10px;
    height: 60px;
    width: 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #03324e 0%, #0e2d3e 100%);
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

/*Home icon properties*/
.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;                         /* top bottom, left right */
    width: 100%;
}

/* nav links glow upon hover */
.navbar_links:hover {
    color:#1176b9;
    transition: all 0.3s ease;
}

/* RESPONSIVENESS */
/* site adjusts width of display */
/* If [device width] is less than or equal to max-width do {..} */

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    /* DROPDOWN PROPERTIES */
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;               /* Prevents navbar from clustering together if page is below max-width. Must be used with position absolute */
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh; 
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 1px;       /* original padding was 25px */
    }

    /* HAMBURGER SECTION */
    
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }
    
    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
   
    .navbar_btn  {
        padding-bottom: 2rem;
    }

    /* HAMBURGER */
    
    #mobile-menu  {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* hamburger menu animation (see app.js) */
    /* hamburger menu id was defined as 'mobile-menu' in index.html */
    /* rotate bars 1,3; but hide bar 2 */

    #mobile-menu.is-active .bar:nth-child(2)  {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* SCROLL ATTRIBUTE - line under nav links*/
.highlight {
    border-bottom: 4px solid rgb(0, 162, 255);
}

/******************************************* ABOUT SECTION ***********************************************/

.main {
    background-color:  white;
    padding: 5rem 0;                        /* was 10rem, but too much space */
}

.main_container {                           
    display: grid;
    grid-template-columns: 1fr;      /*original was 1fr 1fr - split into two halves but not enough space */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_container h3 {
    font-size: 2.5rem;
}


.card-body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    height: 100%;
}
.card-body h2, .card-body h3 {
    color: #fff;
}



/* Mobile Responsiveness for About and Contact Section */

@media screen and (max-width: 1100px) {
    main_container 
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main_content  {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1  {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2  {
        font-size: 2.5rem;
    }

    .main_content p  {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
}


/******************************************* PROJECTS SECTION ***********************************************/

.projects {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;                                 /* was 10rem, but too much space */
  }

.projects h1 {
    background-color: #6325a1;
    background-image: linear-gradient(to top, #10234c 0%, #724030 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;     /* add more per new project */
    grid-template-rows: 1fr;
}

/* Add color to each project card */

.projects_card {
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right,#3b837e, #627aa6, #6f6fb9);
    transition: 0.3s ease-in;
}

.projects_card:nth-child(2) {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b837e, #627aa6, #6f6fb9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #456c69, #576f9c, #7070bf); 
}

.projects_card:nth-child(3) {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b837e, #627aa6, #6f6fb9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #456c69, #576f9c, #7070bf); 
}

.projects_card:nth-child(4) {
    background: #7F7FD5;  
    background: -webkit-linear-gradient(to right, #3b837e, #627aa6, #6f6fb9); 
    background: linear-gradient(to right, #456c69, #576f9c, #7070bf); 
}

.projects_card:nth-child(5) {
    background: #7F7FD5;  
    background: -webkit-linear-gradient(to right, #3b837e, #627aa6, #6f6fb9); 
    background: linear-gradient(to right, #456c69, #576f9c, #7070bf); 
}

.projects_card:nth-child(6) {
    background: #7F7FD5;  
    background: -webkit-linear-gradient(to right, #3b837e, #627aa6, #6f6fb9); 
    background: linear-gradient(to right, #456c69, #576f9c, #7070bf); 
}

.projects_card h2 {
    text-align: center;
}

.projects_card h3 {
    text-align: center;
}

.projects_card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.projects_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

/* button properties and animation. The entire card is the button */

.projects_card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #13131313;
    font-size: 1rem;
}

.projects_card button:hover {
    cursor: pointer;
}

.projects_card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* split cards into grid at specified browser width */

@media screen and (max-width: 1300px) { 
    .projects_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) { 
    .projects_wrapper {
        grid-template-columns: 1fr;
    }
}

/******************************************* CONTACT SECTION ***********************************************/


.main_content {
    text-align: center;
    margin-bottom: 4rem;
}

.main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
}

.main_content h2 {
    font-size: 2.5rem;
}

.main_content p {
    font-size: 1rem;
    margin-top: 1.5rem;
}


.submit {
    font-size: 1.5rem;
    background: #7F7FD5;  
    background: -webkit-linear-gradient(to right, #3b837e, #627aa6, #6f6fb9); 
    background: linear-gradient(to right, #456c69, #576f9c, #7070bf); 
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    color: rgb(234, 216, 216);
    transition: all 0.3s ease;
    outline: none;
} 

.submit a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

/* hover effect for button */
.submit::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #740274;
    transition: all 0.35s;
    border-radius: 4px;
}

.submit:hover {
    color: rgb(255, 255, 255);
}

.submit:hover:after {
    width: 100%;
} 